@import "admin/normalize","variables", "mixins", "patterns/transitions", "patterns/typography", "patterns/grid", "patterns/images", "patterns/avatars", "patterns/lists", "patterns/links", "patterns/blockquotes", "admin/admin-styles", "admin/prism";

*{
  @include border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $body-bg; 
  height: 100%;
  font-size: $base-font-size;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: $rutter-blue;
  @include vendorize(text-size-adjust, $base-font-size);
}

body {
  background: $white;
  font-family: $body-font;
  font-size: em(18);
  line-height: (24 / $basefont);
  color: $rutter-dk-grey;
  font-weight: $regular;
  -webkit-font-smoothing: $font-smoothing;
  /* Fix for webkit rendering */
  @include vendorize(text-size-adjust, $base-font-size);
}


h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr {
  margin-bottom: $spacing;
}
