<!--
Creating Buttons for active content can be styled in the _buttons.scss
-->
<section class="links">
	<h4 class="admin-h4">Buttons</h4>
	
	<div class="pattern">
		<div class="pattern-preview">
			<details>
				<summary>Basic</summary>
				</details>
				<div class="pattern-preview">
					<button>Button Text</button>
					<button type="submit">Submit Button</button>
					<a href="#" class="button">Link Button</a>
					<input type="button" value="Input Button">
					<input type="submit" value="Input submit button">
				</div>	
			</div>
		</div>
		
		<div class="pattern">
			<div class="pattern-preview">
				<details>
					<summary>Button Disabled</summary>
					</details>
					<div class="pattern-preview">
						<button disabled>Button Text</button>
						<button type="submit" disabled>Submit Button</button>
						<a href="#" class="button-disabled">Link Button</a>
						<input type="button" value="Input Button" disabled>
						<input type="submit" value="Input submit button" disabled>
					</div>	
				</div>
			</div>
			
			<div class="pattern">
				<div class="pattern-preview">
					<details>
						<summary>Button Alternative</summary>
						</details>
						<div class="pattern-preview">
							<button class="button-alt">Button Text</button>
							<button type="submit" class="button-alt">Submit Button</button>
							<a href="#" class="button button-alt">Link Button</a>
							<input type="button" value="Input Button" class="button-alt">
							<input type="submit" value="Input submit button" class="button-alt">
						</div>	
					</div>
				</div>
	</section>