<!--
Add your project color palette to this file. To display a swatch color 
for each, please the HEX, RGB, RGBA value in the <span> inline CSS attribute. 

For example: <span class="swatch-preview" style="background-color: #62a935"></span> 

Then list the values below.

For example:
<li class="color-list-item">
	<span class="swatch-preview" style="background-color: #5ba4e5;"></span>
	<ul>
		<li class="lead"><strong>Light Blue</strong></li>
		<li>rgb(91, 164, 229)</li>
		<li>#5ba4e5</li>
		<li>$color-lightblue</li>
	</ul>	
</li>
-->
<section class="colors">
	<h4 class="admin-h4">Colors</h4>
	<h3 class="admin-h3">Rutter Primary Palette</h3>
	<ul class="color-list">
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: #EE3739;"></span>
			<ul>
				<li class="lead"><strong>Rutter Red</strong></li>
				<li>rgb(238, 55, 57)</li>
				<li>#EE3739</li>
				<li>Sass variable name: $rutter-red</li>
			</ul>	
		</li>
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: #1999CE;"></span>
			<ul>
				<li class="lead"><strong>Rutter Blue</strong></li>
				<li>rgb(25, 153, 206)</li>
				<li>#1999CE</li>
				<li>Sass variable name: $rutter-blue</li>
			</ul>
		</li>
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: #23628E;"></span>
			<ul>
				<li class="lead"><strong>Rutter Darker Blue</strong></li>
				<li>rgb(35, 98, 142)</li>
				<li>#23628E</li>
				<li>Sass variable name: $rutter-dk-blue</li>
			</ul>
		</li>
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: #737675;"></span>
			<ul>
				<li class="lead"><strong>Dark Grey</strong></li>
				<li>rgb(115, 118, 117)</li>
				<li>#737675</li>
				<li>Sass variable name: $rutter-dk-grey</li>
			</ul>
		</li>
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: #C6C6BC;"></span>
			<ul>
				<li class="lead"><strong>Dark Beige</strong></li>
				<li>rgb(2198, 198, 188)</li>
				<li>#C6C6BC</li>
				<li>Sass variable name: $rutter-light-grey</li>
			</ul>
		</li>
	</ul>	

<!--
The secondary palette is optional. If your project doesn't require 
a secondary set of colors, please comment out or remove from this file.

However, if you have any variations on the primary colors like different 
hues, tints, etc, then it's worth putting them in the secondary color palette  
-->
	<h3 class="admin-h3">OceanWaves Palette</h3>
	<ul class="color-list">
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: #FF8C00;"></span>
			<ul>
				<li class="lead"><strong>OceanWaves Orange</strong></li>
				<li>rgb(255, 140, 0)</li>
				<li>#FF8C00</li>
				<li>Sass variable name: $oceanwaves-orange</li>
			</ul>	
		</li>
	</ul>	
</section>