<section class="header-styled">
	<h4 class="admin-h4">Headers</h4>
	<div class="pattern">
		<details>
			<summary>Main Header</summary>
			<pre><code class="language-markup">&lt;article>1/1&lt;/article></code></pre>
			<div class="usage">
				<h4>Usage:</h4><p>This header can be used in conjunction with slideshows or as a standalone.</p>
			</div>
		</details>
				<section class="header-image">
					<div class="text-overlay">
						<h1>From Sea To Sky, The World Runs On Rutter</h1>
					</div>	
				</section>
	</div>
</section>

