<!--
Creating links for active content can be styled in the _links.scss
-->
<section class="links">
	<h4 class="admin-h4">Links</h4>
	
	<div class="pattern">
		<div class="pattern-preview">
			<details>
				<summary>External Link</summary>
				</details>
				<div class="pattern-preview">
					<p>This is <a href="#" rel="external">an external link</a>.</p>
				</div>	
			</div>
		</div>
		
		<div class="pattern">
			<div class="pattern-preview">
				<details>
					<summary>Inline Link</summary>
					</details>
					<div class="pattern-preview">
						<p>This is <a href="#">an inline link</a>.</p>
					</div>	
				</div>
			</div>
	</section>		