<!--
Lists are necessary for any site. But they come in a variety of different forms. Here are some basic examples for you to use. If you require more elaborate styled list, make edits to the _lists.scss file. 
-->
<section class="lists">
	<h4 class="admin-h4">Lists</h4>
	<div class="pattern">
		<details>
			<summary>Thumbnails &amp; Excerpts</summary>
			<pre><code class="language-markup">&lt;ul class="thumbnail-list">
   &lt;li>
    &lt;div class="cutoff-image">
      &lt;img src="">
    &lt;/div>
    &lt;h3>Sigma s6 Radar Processor&lt;/h3>
      &lt;p>Multi-layered processing removes the clutter that limits the clarity of conventional radar images by enhancing the outline of what needs to be seen.&lt;/p>
  &lt;/li>
&lt;/ul></code></pre>
        <div class="usage">
	    <h4>Usage:</h4><p>This list style can be used on blog excerpts, lists of product features or service listings.</p>
	    </div>
		</details>
		<div class="pattern-preview">
		<ul class="thumbnail-list">
			<li>
				<div class="cutoff-image">
					<img src="/images/placeholder-image.jpg">
				</div>
				<h3>Sigma s6 Radar Processor</h3>
				<p>Multi-layered processing removes the clutter that limits the clarity of conventional radar images by enhancing the outline of what needs to be seen.</p>
			</li>
			<li>
				<div class="cutoff-image">
					<img src="/images/placeholder-image.jpg">
				</div>
				<h3>Sigma s6 Radar Processor</h3>
				<p>Multi-layered processing removes the clutter that limits the clarity of conventional radar images by enhancing the outline of what needs to be seen.</p>
			</li>
			<li>
				<div class="cutoff-image">
					<img src="/images/placeholder-image.jpg">
				</div>
				<h3>Sigma s6 Radar Processor</h3>
				<p>Multi-layered processing removes the clutter that limits the clarity of conventional radar images by enhancing the outline of what needs to be seen.</p>
			</li>
		</ul>
	</div>
	</div>	
	
		<h3 class="admin-h3">Disc</h3>
	<div class="pattern">
		<div class="pattern-preview">
		<ul class="disc">
			<li>List Item</li>
			<li>List Item</li>
			<li>List Item</li>
		</ul>
		</div>	
	</div>
		<h3 class="admin-h3">Ordered List</h3>
	<div class="pattern">
		<div class="pattern-preview">
		<ol class="list-ordered">
			<li class="list-ordered-item">List Item</li>
			<li class="list-ordered-item">List Item</li>
			<li class="list-ordered-item">List Item</li>
		</ol>	
	</div>
	</div>
	
	
	<div class="pattern">
		<details>
			<summary>Events Lists</summary>
			<pre><code class="language-markup">&lt;ul class="event-listing">
   &lt;li>
    &lt;div class="cutoff-image">
      &lt;time>&lt;span>Month&lt;/span>&lt;h2>Date&lt;/h2>
 &lt;/time>
    &lt;/div>
    &lt;div class="event-info">
      &lt;span>Time&lt;/span>
      &lt;h3>Name of Event&lt;&lt;/h3>
      &lt;div class="location">&lt;span class="icon-location"> Location&lt;/div>
      &lt;a href="#">Full Details&lt;/a>
  &lt;/li>
&lt;/ul></code></pre>
		<div class="usage">
			<h4>Usage:</h4><p>This list style should only be used on the event listings.</p>
		</div>
		</details>
		<div class="pattern-preview">
		<ul class="event-listing">
			<li>
				<div class="cutoff-image">
					<time itemprop="dateCreated" datetime="2014-11-30"><span>Nov</span><h2>13</h2></time>
				</div>
				<div class="event-info">
					<span>7:30 - 12:30 pm</span>
					<h3>Ocean Technology Convention</h3>
					<div class="location"><span class="icon-location"> Epic Centre, Houston, TX</div>
					<a href="#">Full Details</a>
				</div></li>
				<li>
					<div class="cutoff-image">
						<time itemprop="dateCreated" datetime="2014-11-30"><span>Jul</span><h2>7</h2></time>
					</div>
					<div class="event-info">
						<span>7:30 - 12:30 pm</span>
						<h3>Ocean Technology Convention</h3>
						<div class="location"><span class="icon-location"> Epic Centre, Houston, TX</div>
						<a href="#">Full Details</a>
					</div></li>
					<li>
						<div class="cutoff-image">
							<time itemprop="dateCreated" datetime="2014-11-30"><span>Jan</span><h2>27</h2></time>
						</div>
						<div class="event-info">
							<span>7:30 - 12:30 pm</span>
							<h3>Ocean Technology Convention</h3>
							<div class="location"><span class="icon-location"> Epic Centre, Houston, TX</div>
							<a href="#">Full Details</a>
						</div></li>
						<li>
							<div class="cutoff-image">
								<time itemprop="dateCreated" datetime="2014-11-30"><span>Mar</span><h2>30</h2></time>
							</div>
							<div class="event-info">
								<span>7:30 - 12:30 pm</span>
								<h3>Ocean Technology Convention</h3>
								<div class="location"><span class="icon-location"> Epic Centre, Houston, TX</div>
								<a href="#">Full Details</a>
							</div></li>
		</ul>	
	</div>
	</div>
	
	<div class="pattern">
		<details>
			<summary>Events Lists</summary>
			<pre><code class="language-markup">&lt;ul class="event-listing">
   &lt;li>
    &lt;div class="cutoff-image">
      &lt;time>&lt;span>Month&lt;/span>&lt;h2>Date&lt;/h2>
 &lt;/time>
    &lt;/div>
    &lt;div class="event-info">
      &lt;span>Time&lt;/span>
      &lt;h3>Name of Event&lt;&lt;/h3>
      &lt;div class="location">&lt;span class="icon-location"> Location&lt;/div>
      &lt;a href="#">Full Details&lt;/a>
  &lt;/li>
&lt;/ul></code></pre>
		<div class="usage">
			<h4>Usage:</h4><p>This list style should only be used on the event listings.</p>
		</div>
		</details>
		<div class="pattern-preview">
		<ul class="thumbnail-listing">
			<li>
				<div class="cutoff-image">
				 <img src="../images/placeholder-service.jpg" alt="Placeholder Service">
				</div>
				<h4>Defence/Naval</h4>
			</li>
			<li>
				<div class="cutoff-image">
				 <img src="../images/placeholder-service.jpg" alt="Placeholder Service">
				</div>
				<h4>Offshore Seismic</h4>
			</li>
			<li>
				<div class="cutoff-image">
				 <img src="../images/placeholder-service.jpg" alt="Placeholder Service">
				</div>
				<h4>Defence/Naval</h4>
			</li>
			<li>
				 <div class="cutoff-image">
					 <img src="../images/placeholder-service.jpg" alt="Placeholder Service">
				</div>
				<h4>Offshore Seismic</h4>
			</li>
			<li>
				 <div class="cutoff-image">
				 <img src="../images/placeholder-service.jpg" alt="Placeholder Service">
				</div>
				<h4>Offshore Seismic</h4>
			</li>
			<li>
				 <div class="cutoff-image">
					 <img src="../images/placeholder-service.jpg" alt="Placeholder Service">
				</div>
				<h4>Offshore Seismic</h4>
			</li>
			<li>
				 <div class="cutoff-image">
					 <img src="../images/placeholder-service.jpg" alt="Placeholder Service">
				</div>
				<h4>Offshore Seismic</h4>
			</li>
		</ul>	
	</div>
	</div>
	
</section>		