<!--
Various menus used through out the site, make edits to the _menu.scss file. 
-->
<section class="menus">
	<h4 class="admin-h4">Navigation</h4>
	
	<div class="pattern">
		<details>
			<summary>Fixed Navigation</summary>
			<pre><code class="language-markup">&lt;div class="fixed-menu">
				&lt;ul>
					&lt;li>&lt;a href="#description">Overview&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#video-demo">Video Demos&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#installations">Installations&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#client-list">Client Lists&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#case-studies">Case Studies&lt;/a>&lt;/li>
				&lt;/ul>
				&lt;div class="button-items">
					&lt;button href="">Download Brochure&lt;/button>
					&lt;button href="">Spec Sheet&lt;/button>
					&lt;button href="">Get A Quote&lt;/button>
				&lt;/div>	
			&lt;/div></code></pre>
        <div class="usage">
	    <h4>Usage:</h4><p>Fixed menu that scrolls to top of page and says. Uses anchor tags to scroll down to related sections.</p>
	    </div>
		</details>
		<div class="pattern-preview">

<div class="fixed-menu">
	<ul>
		<li><a href="#description">Overview</a></li>
		<li><a href="#video-demo">Video Demos</a></li>
		<li><a href="#installations">Installations</a></li>
		<li><a href="#client-list">Client Lists</a></li>
		<li><a href="#case-studies">Case Studies</a></li>
	</ul>
	<div class="button-items">
		<button href="">Download Brochure</button>
		<button href="">Spec Sheet</button>
		<button href="">Get A Quote</button>
	</div>	
</div>
</div>
</div>