<!--
There are couple of table styles used throughout the site. To make edits to the _tables.scss file. 
-->
<section class="tables">
	<h4 class="admin-h4">Tables</h4>
	<div class="pattern">
		<details>
			<summary>Bordered table</summary>
		</details>
		<div class="pattern-preview">
<table class="table-bordered">
	<thead>
		<tr>
			<th scope="col" colspan="42">Ice Navigator&trade;<br>Ice Detection and Navigation System</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="col" colspan="42">Features:</th>
		</tr>
		<tr>
			<td>Ice Detection</td>
			<td>&bull;</td>
		</tr>
		<tr>
			<td>Screen Capture and Video Recording</td>
			<td>&bull;</td>
		</tr>
		<tr>
			<td>Tracking Software (Small Targets)</td>
			<td>300</td>
		</tr>
		<tr>
			<td>Scan Averaging</td>
			<td>32</td>
		</tr>
		<tr>
			<td>Motion Compensation</td>
			<td>&bull;</td>
		</tr>
		<tr>
			<td>Multiple Remote Clients</td>
			<td>&bull;</td>
		</tr>
		<tr>
			<td>Cursor Serial Port Output (Used for IR camera input)</td>
			<td>&bull;</td>
		</tr>
		<tr>
			<td>TTM NMEA Serial Port Outputs (For IR camera and ECDIS Inputs)</td>
			<td>&bull;</td>
		</tr>
		<tr>
			<th scope="col" colspan="42">Options:</th>
		</tr>
		<tr>
			<td>Chart Underlay</td>
			<td>&bull;</td>
		</tr>
		<tr>
			<td>Raw Data Recording</td>
			<td>&bull;</td>
		</tr>
		<tr>
			<td>SeaBridge - Multiple Client - Low Bandwidth<br>Communication Link</td>
			<td>&bull;</td>
		</tr>
		<tr>
			<td>SeaFusion - Multiple Radar - Single Display</td>
			<td>&bull;</td>
		</tr>
		<tr>
			<td colspan="42">Note: All models accept standard serial/network inputs from navigational instruments (NMEA 0183) including: AIS, wind anemometer, echo sounder, speed log, GPS, and gyrocompass.</td>
		</tr>
	</tbody>		
</table>
</div>
</div>