<!--
Add your project heading typography to this file. These styles will be inherit of your typography set in your CSS file. 

-->

<section class="headings">
	<h4 class="admin-h4">Typography</h4>
	<div class="pattern">
		<details>
			<summary>h1</summary>
			
		</details>
		<div class="pattern-preview">
			<h1>A H1 heading style</h1>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h2</summary>
			
			</details>
		<div class="pattern-preview">
			<h2>A H2 heading style</h2>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h3</summary>
			
		</details>
		<div class="pattern-preview">
			<h3>A H3 heading style</h3>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h4</summary>
		
		</details>
		<div class="pattern-preview">
			<h4>A H4 heading style</h4>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h5</summary>
		
		</details>
		<div class="pattern-preview">
			<h5>A H5 heading style</h5>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h6</summary>
			
		</details>
		<div class="pattern-preview">
			<h6>A H6 heading style</h6>
		</div>	
	</div>
	
	<div class="pattern">
		<details>
			<summary>Lead Copy paragraph</summary>
			<pre><code class="language-markup">&lt;p class="leadcopy">Whether building electronics systems, or telecommunications networks, our integrated services address a diverse customer base.&lt;/p></code></pre>
		</details>
		<div class="pattern-preview">
			<p class="leadcopy">Whether building electronics systems, or telecommunications networks, our integrated services address a diverse customer base.</p>
		</div>	
	</div>
	
	<div class="pattern">
		<details>
			<summary>paragraph</summary>
			
		</details>
		<div class="pattern-preview">
			<p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p>
		</div>	
	</div>
	
</section>	