<!--
Add your project heading typography to this file. These styles will be inherit of your typography set in your CSS file. 

-->

<section class="headings">
	<h4 class="admin-h4">Typography</h4>
	<div class="pattern">
		<details>
			<summary>h1</summary>
			
		</details>
		<div class="pattern-preview">
			<h1>A H1 heading style</h1>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h2</summary>
			
			</details>
		<div class="pattern-preview">
			<h2>A H2 heading style</h2>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h3</summary>
			
		</details>
		<div class="pattern-preview">
			<h3>A H3 heading style</h3>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h4</summary>
		
		</details>
		<div class="pattern-preview">
			<h4>A H4 heading style</h4>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h5</summary>
		
		</details>
		<div class="pattern-preview">
			<h5>A H5 heading style</h5>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h6</summary>
			
		</details>
		<div class="pattern-preview">
			<h6>A H6 heading style</h6>
		</div>	
	</div>
	
	<div class="pattern">
		<details>
			<summary>Lead Copy paragraph</summary>
			<pre><code class="language-markup">&lt;p class="leadcopy">Whether building electronics systems, or telecommunications networks, our integrated services address a diverse customer base.&lt;/p></code></pre>
		</details>
		<div class="pattern-preview">
			<p class="leadcopy">Whether building electronics systems, or telecommunications networks, our integrated services address a diverse customer base.</p>
		</div>	
	</div>
	
	<div class="pattern">
		<details>
			<summary>paragraph</summary>
			
		</details>
		<div class="pattern-preview">
			<p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p>
		</div>	
	</div>
	
	
	<div class="pattern">
		<details>
			<summary>Product Description</summary>
			
		</details>
		<div class="pattern-preview">
			<div class="product-description-callout">
				<div class="half">
					<h4>Detect Big and Small.</h4>
					<p>In open water, the <em>sigma</em> S6 system's ability to reliably detect small bergy bits and growlers that can significantly damage a vessel or platform is proven throughout the industry.</p>
				</div>
				<div class="half">
					<h4>Round the Clock Coverage.</h4>
					<p>The overall improvements in situational awareness provided by Ice Navigator&trade; occur across a wide range of sea states, weather, and daylight conditions, making the tactical information it provides an essential component for real time route planning and decision making in ice operations.</p>
				</div>
			</div>
		</div>	
	</div>
	
	
	
	<div class="pattern">
		<details>
			<summary>Product Description with Image</summary>
			
		</details>
		<div class="pattern-preview">
			<div class="full">
				<div class="half">	
					<h3>The Chosen Solution for Ice-Class Fleets and Arctic Drilling Operations</h3>
					<p>The <em>sigma</em> S6 system was specifically developed for ice detection in the ice-threatened oilfields of Eastern Canada. Rutter's Ice Navigator&trade; installation base now includes many of the world's ice breaker fleets as well as tankers, bulk carriers, research vessels and coast guard vessels from countries operating in Arctic and subarctic regions.</p>
					<p>Ice Navigator&trade; systems have also been selected by oil and gas companies as part of their ice defence and ice management solutions where they are resident on platforms, drill ships, and specialty support vessels.</p>
				</div>
				<div class="half image">
					<img src="{{site.baseurl}}/images/boat-in-ice.jpg" alt="Boat In Ice">
				</div>
			</div>	
	</div>
		</div>	
	
	
	<div class="pattern">
		<details>
			<summary>Copyright and footer links</summary>
			
		</details>
		<div class="pattern-preview">
			<div class="copyright">
				<!--[if gte IE 9]><!--><img src='../images/rutter-circle.svg', alt='Rutter Logo', onerror="this.src=../images/rutter-circle.png"><!--<![endif]-->
            	<!--[if lt IE 9]><img src='../images/rutter-circle.png', alt='Rutter Logo'><![endif]-->
				<p class="small">Copyright &copy;2014 Rutter Inc. All Rights Reserved. | <a href="">Terms of Use</a> | <a href="">Privacy Policy</a></p>
			</div>
	</div>
		</div>	
	
	
	
	
</section>	