/* Horizontal Rules
--------------------------------------------------*/

hr {
  border: solid $rutter-light-grey;
  border-width: 1px 0 0;
  clear: both;
  margin: .625em auto 1.875em;
  height: 0;
  width: 120px;
}