/* Lists
--------------------------------------------------*/

ul, ol {
  margin-bottom: ($base-unit * 3);
  margin: 8px 0;
  margin-left: ($base-unit * 3);
  padding: 0 0 0 ($base-unit * 7);
}

ul {
  list-style: none outside;
}

ol {
  list-style: decimal;
}

ul {
  &.square, &.circle, &.disc {
    margin-left: ($base-unit * 3);
  }
  &.square {
    list-style: square outside;
  }
  &.circle {
    list-style: circle outside;
  }
  &.disc {
    list-style: disc outside;
  }
  ul, ol {
    margin: $base-unit 0 $base-unit ($base-unit * 3);
    font-size: 90%;
  }
}

ol {
  ol, ul {
    margin: $base-unit 0 $base-unit ($base-unit * 3);
    font-size: 90%;
    li{

    }
  }
}

ul {
  ul li, ol li {
    margin-bottom: $base-unit;
  }
}

ol {
  ol li, ul li {
    margin-bottom: $base-unit;
  }
}

li {
  line-height: inherit;
  margin-bottom: ($base-unit * 2);
}

ul.large li, li p {
  line-height: inherit;
}

.list-bordered {
  list-style-type: none;
  margin: 0 0 ($base-unit * 3) 0;
  padding: 0;
  li {
    margin-bottom: $base-unit;
    padding-bottom: $base-unit;
    border-bottom: 1px dashed #c7ced6;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom-width: 0;
    }
  }
}


.thumbnail-list{
  margin-left: 0;
  padding: 0;
  width: inherit;
  li {
    border-top: 1px solid $rutter-light-grey;
    padding: ($base-unit * 4) 0 $base-unit;
    @include clearfix();
    &:first-of-type{
      padding-top: 0;
      border-top:none;
    }
    div{
      float: none;
      @media(min-width: 55em) {
        float: left;
        margin-right: ($base-unit * 4);
      }
    }
    h3{
      margin-bottom: ($base-unit * 2);
    }
  }
}


ol{
  counter-reset: li;
  list-style: none;
  li{
    color: $rutter-dk-grey;
    display:list-item;
    position: relative;
    padding-left: 2em;
    margin: ($base-unit * 3) 0;
    &:before{
      content: counter(li);
	  counter-increment: li;
	  color: $rutter-light-grey;
	  position: absolute;
	  left: -1.3em;
	  top: 50%;
	  margin-top: -1em;
	  background: transparent;
	  height: 2em;
	  width: 2em;
	  line-height: 1.8em;
	  border: 2px solid $rutter-light-grey;
	  text-align: center;
	  font-weight: $regular;
	  border-radius: 1em;
    }
  }
}


.event-listing{
  margin-left: 0;
  padding: 0;
  width: inherit;
  @include clearfix();
  li{
    @include column(12);
    margin-bottom:( $base-unit * 2);
    @include clearfix();
    @media(min-width: 50em){
      background-color: $event-listing-grey;
    }
    @media(min-width: 70em){
      @include column(6);
      margin-bottom:( $base-unit * 2);
    }
    .cutoff-image{
      background-color: $rutter-dk-blue;
      @include column(12);
      margin: 0;
      padding: 0px 0 2%;
      text-align: center;
      &:after{
        background-image: none;
      }
      @media(min-width: 50em){
        @include column(2.5);
        margin: 0;
        &:after{
          background: url('../images/masks/photo-corner.png') no-repeat left bottom;
	      background: url('../images/masks/photo-corner.svg');
	      background-position: -50px bottom;
        }
      }
      span{
        font-size: em($baseh3);
        color: $white;
        font-weight: $bold;
        text-transform: uppercase;
        display: inline-block;
        @media(min-width: 50em){
          font-size: em($baseh3);
          display:block;
        }
      }
      h2{
        color: $white;
        font-size: em($baseh3);
        margin:0;
        line-height: .75;
        font-weight: $thin;
        display: inline-block;
        @media(min-width: 50em){
          font-size: em($baseh1);
          display:block;
        }
      }
    }
    .event-info{
      background-color: $event-listing-grey;
      @include column(12);
      padding: 0%;
      margin: 0;
      padding-bottom: 1%;
      position: relative;
      text-align: center;
      @media(min-width: 50em){
        @include column(9.5); 
        padding: 0 3%;
        margin: 0;
        text-align: left;
      }
      @media(min-width: 70em){
        @include column(10);
        margin:0;
        padding-right: 1%;
      }
      span{
        font-size: em(12);
        font-weight: $light;
      }
      h3{
        font-size: em(16);
        margin-bottom: ($base-unit * 3);
        @media(min-width: 71em){
          font-size: em(18);
          margin-bottom: ($base-unit + 3);
        }
      }
      .location{
        font-weight: $light;
        width: 100%;
        display: block;
        position: relative;
        padding: 2% 0;
        background: $rutter-dk-grey;
        @media(min-width: 50em){
          @include column(8);
          background: none;
          padding: 0;
        }
        @media(min-width: 75em){
          @include column(6);
        }
        margin:0;
        span{
          color: $rutter-light-grey;
        }
      }
      a{
        float:none;
        width: 100%;
        display: block;
        text-align: center;
        margin-top: ($base-unit);
        @media(min-width: 50em){
          width: auto;
          float:right;
        }

      }
    }
  }
}


.thumbnail-listing{
  width: 100%;
  margin:0;
  padding:0;
  @include clearfix();
  li{
    @include column(12);
    margin-bottom: ($base-unit * 2);
    position: relative;
    @media(min-width: 50em){
      @include column(1.71);
      margin-bottom: ($base-unit * 2);
    }
    .cutoff-image{
      &:before{
        content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0, 0.5);
		-moz-transition: background .3s linear;
		-webkit-transition: background .3s linear;
		-o-transition: background .3s linear;
		transition: background .3s linear;
		z-index: 1;
     }
     &:after{
       z-index: 10;
     }
    }
    img{
      position: relative;
    }
    h4{
      @include abs-pos(auto,0,0,auto);
      color: $white;
      text-transform: none;
      margin:0;
      padding-right: 5%;
      z-index: 10;
    }
  }
}